body {
    padding-top: 0px;
}

.welcome-h1 {
    font-size: 72px !important;
    padding: 30px;
}

.navigate-to-pages {
}

    .navigate-to-pages div {
        margin-bottom: 30px;
    }

.navigate-icon {
    width: 100px;
    height: 100px;
}

#navigate-icon-1 {
    background: url('../../img/book.png') no-repeat center;
    background-size: cover;
}

#navigate-icon-2 {
    background: url('../../img/grd-hat.png') no-repeat center;
    background-size: cover;
}

#navigate-icon-3 {
    background: url('../../img/lab.png') no-repeat center;
    background-size: cover;
}

#navigate-icon-4 {
    background: url('../../img/dev-icon.png') no-repeat center;
    background-size: cover;
}

.navigate-heading {
    font-weight: bold;
}

.navigate-to-pages a {
    color: black;
}

    .navigate-to-pages a:hover {
        color: #3c3c3c;
        text-decoration: none;
    }
/**************************************************************************************/
.list-group {
    border-radius: 0px !important;
}

/**************************************************************************************/

.nav-tabs {
    background: #1565c0;
    border-radius: 0;
}

    .nav-tabs a {
        color: white;
    }

    .nav-tabs > li > a {
        border-width: 0 !important;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

.nav > li > a:focus, .nav > li > a:hover {
    background: #478ddc;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
}

.nav-tabs .active a {
    border-width: 0px;
    background: #0851a4 !important;
    border-radius: 0px;
    color: white !important;
}
/**************************************************************************************/
.center-heading {
    border-top: 2px solid #ff9000;
    position: relative;
    margin-bottom: 40px;
}

    .center-heading i {
        font-size: 10px;
        color: #ff9000;
    }

    .center-heading h2 {
        background: white;
        padding: 0 20px;
        position: absolute;
        top: -40px;
    }
/**************************************************************************************/
.banner {
    width: 100%;
    background: url('../../slider/images/1488888806-photo-2017-02-28-11-21-56 (1).jpg') no-repeat;
    background-position-x:center ;
    background-size: cover;
}

    .banner img {
        width: 100%;
    }

/**************************************************************************************/


    @media only screen and (max-width: 768px) {
        body {
    padding-top: 55px;
}

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1200px) {
}
