/**************************************************************/
/*******************Design : behzad chizari********************/
/*************Email : behzad75chizari@gmail.com****************/
/**************************************************************/
body{padding-top: 70px}
a.btn{margin:20px}
p.question {
    font-size: 20px;
}


.footer-fixed-bottom {
    background: #1565c0;
    width: 100%;
    height: 100px;
    margin-top: 50px
}

.portal{display: block !important}
.hidden-portal{display: none!important}


a.icon-box {
    color: #000;
    width: 200px;
}
a.icon-box,a.icon-box * {
    transition: all 200ms;
}
a.icon-box:hover,a.icon-box:focus {
    text-decoration: none;
    color: #333;
}
a.icon-box:hover div {
    opacity: 0.5;
} 
.icon-box div {
    width: 80px;
    height: 80px;
    /*background: #1565c0;*/
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px auto;
}
.icon-box div#eng-fac {
    background-image: url('../../img/dev-icon.png');
}
.icon-box div#arch-fac {
    background-image: url('../../img/arch-fac.png');
}
.icon-box div#comp {
    background-image: url('../../img/icons/cmp.png');
}
.icon-box div#elec {
    background-image: url('../../img/icons/elec.png');
}
.icon-box div#biom {
    background-image: url('../../img/icons/biom.png');
}
.icon-box div#nucl {
    background-image: url('../../img/icons/nucl.png');
}
.icon-box div#mech {
    background-image: url('../../img/icons/mech.png');
}
.icon-box div#civl {
    background-image: url('../../img/icons/civil.png');
}
.icon-box div#chem {
    background-image: url('../../img/icons/chem.png');
}
.icon-box div#envi {
    background-image: url('../../img/icons/envi.png');
}
.icon-box div#metl {
    background-image: url('../../img/icons/metalo.png');
}
.icon-box div#urbn {
    background-image: url('../../img/icons/urban.png');
}
.icon-box div#arch {
    background-image: url('../../img/icons/arch.png');
}

