<nav class="navbar navbar-default navbar-fixed-top">
    <div class="pull-right colapse-bars" onclick="toggleNav(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="pull-right btn-home">
        <a href="../../">
            <i class="glyphicon glyphicon-home"></i>
        </a>
    </div>
    <div class="clearfix"></div>


</nav>
<div class="container-fluid">
    <div id="mySidenav" class="sidenav">
        <img class="img-responsive center-block hidden-portal" src="../../img/logos/uni-logo.png" width="100" />
        <img class="img-responsive center-block portal" src="../../../img/logos/uni-logo.png" width="100" />
        
        <div class="panel-group" id="accrd0" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="hdg1">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accrd0" href="#clps1" aria-expanded="true" aria-controls="clps1">
                            دانشکده فنی و مهندسی
                        </a>
                    </h4>
                </div>
                <div id="clps1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hdg1">
                    <div class="panel-body">
                        <ul class="sub-nav">
                            <li><a href="../../KB/Eng">درباره‌ی دانشکده</a></li>
                            <li><a href="../../KB/Eng/cadre-intro.html">معرفی کادر کنونی دانشکده</a></li>
                            <!--<li><a href="../../KB/Eng/important-procedures.html">روال‌های مهم اداری</a></li>-->
                            <li><a href="../../KB/Eng/map.html">نقشه‌ی دانشکده</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="hdg2">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accrd0" href="#clps2" aria-expanded="false" aria-controls="clps2">
                            دانشکده معماری و شهرسازی
                        </a>
                    </h4>
                </div>
                <div id="clps2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hdg2">
                    <div class="panel-body">
                        <ul class="sub-nav">
                            <li><a href="../../KB/Arch">درباره‌ی دانشکده</a></li>
                            <li><a href="../../KB/Arch/cadre-intro.html">معرفی کادر کنونی دانشکده</a></li>
                            <!--<li><a href="../../KB/Arch/important-procedures.html">روال‌های مهم اداری</a></li>-->
                            <li><a href="../../KB/Arch/map.html">نقشه‌ی دانشکده</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="hdg3">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accrd0" href="#clps3" aria-expanded="false" aria-controls="clps3">
                            تشکل‌های دانشجویی
                        </a>
                    </h4>
                </div>
                <div id="clps3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hdg3">
                    <div class="panel-body">
                        <ul class="sub-nav">
                            <li><a href="../../KB/associations/">فعالیت‌های اجتماعی انجمن‌ها و کانون‌ها</a></li>
                            <li><a href="../../KB/associations/civil.html">انجمن علمی عمران</a></li>
                            <li><a href="../../KB/associations/computer.html">انجمن علمی کامپیوتر</a></li>
                            <li><a href="../../KB/associations/electrical.html">انجمن علمی برق</a></li>
                            <li><a href="../../KB/associations/biomedical.html">انجمن علمی مهندسی پزشکی</a></li>
                            <li><a href="../../KB/associations/taali.html">کانون تعالی</a></li>
                            <li><a href="../../KB/associations/hayan.html">کانون حیّان</a></li>
                            <li><a href="../../KB/associations/chamran.html">بسیج دانشجویی شهید چمران</a></li>
                            <li><a href="../../KB/associations/IEEE.html">شاخه دانشجویی IEEE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="hdg4">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accrd0" href="#clps" aria-expanded="false" aria-controls="clps">
                            گروه‌های آموزشی
                        </a>
                    </h4>
                </div>
                <div id="clps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hdg4">
                    <div class="panel-body">
                        <ul class="sub-nav">
                            <li><a href="../../KB/groups/science.html">گروه علوم پایه</a></li>
                            <li style="width:55%" class="center-block"><a class="nav-divider-text text-center">فنّی و مهندسی</a></li>
                            <li><a href="../../KB/groups/electrical-engineering.html">مهندسی برق</a></li>
                            <li><a href="../../KB/groups/computer-engineering.html">مهندسی کامپیوتر</a></li>
                            <li><a href="../../KB/groups/mechanical-robotic-aerospace-engineering.html">مهندسی مکانیک،رباتیک ،هوافضا و انرژی</a></li>
                            <li><a href="../../KB/groups/biomedical-engineering.html">مهندسی پزشکی</a></li>
                            <li><a href="../../KB/groups/biomedical-engineering.html">مهندسی هسته‌ای</a></li>
                            <li><a href="../../KB/groups/industrial-engineering.html">مهندسی ‌صنایع</a></li>
                            <li><a href="../../KB/groups/chemical-engineering-and-polymer.html">مهندسی شیمی و پلیمر</a></li>
                            <li><a href="../../KB/groups/metallurgical-engineering.html">مهندسی نفت،مواد و متالوژی</a></li>
                            <li><a href="../../KB/groups/environmental-engineering.html"> مهندسی محیط زیست و صنایع غذایی</a></li>
                            <li><a href="../../KB/groups/civil-engineering.html">کارشناسی مهندسی عمران</a></li>
                            <li><a href="../../KB/groups/civil-engineering-m-phd.html">تحصیلات تکمیلی مهندسی عمران</a></li>
                            <li  style="width:55%" class="center-block"><a class="nav-divider-text text-center">معماری و شهرسازی</a></li>
                            <li><a href="../../KB/groups/architecture.html">معماری</a></li>
                            <li><a href="../../KB/groups/urban.html">شهرسازی</a></li>
                            <li><a href="../../KB/groups/restoration.html">مرمت</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <a href="../../KB/FAQ.html" style="padding: 10px !important;">سوالات متداول</a>
            <a href="../../KB/about.html" style="padding: 10px !important; margin-bottom: 100px;">درباره‌ی پایگاه دانش</a>
        </div>
    </div>
</div>
