<div class="container icon-box-1 general">
    <h2 class="text-center">پیوندهای مرتبط</h2>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a class="icon-box" href="http://edu.iauctb.ac.ir/fa/page/3391/%D8%AB%D8%A8%D8%AA-%D9%86%D8%A7%D9%85-%D9%88%D8%B1%D9%88%D8%AF%DB%8C-%D8%AC%D8%AF%DB%8C%D8%AF">
            <div class="icon-box" id="regis"></div>
            <h5 class="text-center"> سیستم ثبت نام</h5>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a class="icon-box" href="http://stu.iauctb.ac.ir/login.aspx">
            <div class="icon-box" id="selcou"></div>
            <h5 class="text-center"> سیستم انتخاب واحد </h5>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a class="icon-box" href="http://iauctb.ac.ir/fa">
            <div class="icon-box" id="uni-site"></div>
            <h5 class="text-center"> سایت اصلی دانشگاه </h5>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a class="icon-box" href="../../KB/FAQ.html">
            <div class="icon-box" id="faq"></div>
            <h5 class="text-center">سوالات متداول </h5>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a class="icon-box" href="../../KB/associations/hayan.html">
            <div class="icon-box" id="hayan"></div>
            <h5 class="text-center">کانون حیان</h5>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a class="icon-box" href="../../KB/associations/taali.html">
            <div class="icon-box" id="taali"></div>
            <h5 class="text-center">کانون تعالی</h5>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a class="icon-box" href="../../KB/associations/chamran.html">
            <div class="icon-box" id="chamran"></div>
            <h5 class="text-center">بسیج دانشجویی چمران</h5>
        </a>
    </div>
    <div class="clearfix"></div>
</div>