
<div class="quick-access">
    <div class="quick-access-icon">
        <span class="glyphicon glyphicon-menu-right"></span>
    </div>
    <ul>
        <li>
            <a class="quick-access-link" data-toggle="#T1">
                رشته‌های زیر مجموعه گروه
            </a>
            <ul>
                <li><a class="quick-access-link" data-toggle="#TT1"> کارشناسی مهندسی کامپیوتر</a></li>
                <li><a class="quick-access-link" data-toggle="#TT2">کارشناسی ارشد مهندسی کامپیوتر</a></li>
                <li><a class="quick-access-link" data-toggle="#TT3">  کارشناسی ارشد مهندسی فناوری اطلاعات</a></li>
                <li><a class="quick-access-link" data-toggle="#TT4">دکتری مهندسی کامپیوتر</a></li>
            </ul>
        </li>
        <li><a class="quick-access-link" data-toggle="#T2">کادر گروه</a></li>
        <li><a class="quick-access-link" data-toggle="#T3">مدیر گروه</a></li>
        <li><a class="quick-access-link" data-toggle="#T4">ارتباط با گروه</a></li>
        <li><a class="quick-access-link" data-toggle="#T5">سوالات متداول</a></li>
        <li><a class="quick-access-link" data-toggle="#T6">پیوندها</a></li>
    </ul>
</div>